.content {
  margin-top: 100px;
}

.chart {
  display: flex;
  justify-content: center;
  opacity: 0.9;
}

.chart1,.chart2 {
  width: 450px; 
  height: 400px;
  margin: 20px 10px;
  padding: 20px 60px;
  position: relative;
  border: 1px black solid;
  border-radius: 5%;
}

.chart1 {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.409),
      rgba(246, 246, 246, 0.922)
    ),
    url("../foto/kaikan.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.chart1:hover {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.288),
      rgba(246, 246, 246, 0.628)
    ),
    url("../foto/kaikan.jpeg");
}

.chart2 {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.409),
      rgba(246, 246, 246, 0.922)
    ),
    url("../foto/kasasagi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.chart2:hover {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.288),
      rgba(246, 246, 246, 0.628)
    ),
    url("../foto/kasasagi.jpg");
}

.chart1 label {
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  font-size: 30px;
  background-color: #4e3737;
  border: 5px #e6e2e2 solid;
  border-radius: 10%;
  color: #fff;
}

.chart2 label {
  position: absolute;
  top: -20%;
  right: 50%;
  transform: translateX(50%);
  font-weight: bold;
  font-size: 30px;
  background-color: #4e3737;
  border: 5px #e6e2e2 solid;
  border-radius: 10%;
  color: #fff;
}

/* モバイル版 ------------------------------- */
@media screen and (max-width: 600px) {
  .chart1,.chart2 {
    width: 300px; 
    height: 200px; 
  }
}
